
:root{
  --color-p5-:#332200;
  --color-p4-:#664400;
  --color-p3-:#A66F00;
  --color-p2-:#E4A30B;
  --color-p1-:#FFBB00;

  --color-c12-:#000000;
  --color-c11-:#111111;
  --color-c10-:#2e2e2e;
  --color-c9-:#404040;
  --color-c8-:#595959;
  --color-c7-:#717171;
  --color-c6-:#9c9c9c;
  --color-c5-:#b2b2b2;
  --color-c4-:#cccccc;
  --color-c3-:#dedede;
  --color-c2-:#ededed;
  --color-c1-:#f7f7f7;
  --color-c0-:#ffffff;
}

/*cor primaria abaixo*/
.cor-p1{
  color: var(--color-p1-);
}
.cor-p2{
  color: var(--color-p2-);
}
.cor-p3{
  color: var(--color-p3-);
}
.cor-p4{
  color: var(--color-p4-);
}
.cor-p5{
  color: var(--color-p5-);
}
/*tons de cinza abaixo*/
.cor-c0{
  color:var(--color-c0-) ;
}
.cor-c1{
  color:var(--color-c1-) ;
}
.cor-c2{
  color:var(--color-c2-) ;
}
.cor-c3{
  color:var(--color-c3-) ;
}
.cor-c4{
  color:var(--color-c4-) ;
}
.cor-c5{
  color:var(--color-c5-) ;
}
.cor-c6{
  color:var(--color-c6-) ;
}
.cor-c7{
  color:var(--color-c7-) ;
}
.cor-c8{
  color:var(--color-c8-) ;
}
.cor-c9{
  color:var(--color-c9-) ;
}
.cor-c10{
  color:var(--color-c10-) ;
}
.cor-c11{
  color:var(--color-c11-) ;
}
.cor-c12{
  color:var(--color-c12-) ;
}

