body{
  margin: 0px;
  height: 2000px;
  color: #111111;
}
ul, a, h1, p, h2, h3, h4 {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  color: var(--color-c12-);
}
img{
  max-width: 100%;
  display: block;
}
img[src$=".jpg"]{
  border-radius: 5px;
}